body
{
	height: 100%;
	padding:0px;
	margin: 0px;    
}

/* --------------------MENU BAR-----------------------*/

.menubar
{
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #00cc99;
	padding-top: 25px;
	padding-bottom: 10px;	
}

#menubar a { 
	color: #a6a6a6;  
	text-decoration: none; 	
}

ul
{
	list-style-type: none; /* remove the bullets */
	text-align: center; 
}

li {

	display:inline; /* puts list items on the same line */
	margin: 10px; /* puts space between list items */
}

/* --------------------LOGO-----------------------*/

.logo {
	font-family: 'Pacifico', cursive;
	font-size: 200px;
	text-align: center;
	background-color: #00cc99; 
	color: #FFFFFF;
	height: 375px; /*set min height size here*/
}

.characteristics {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	text-align: center;
	background-color: #00cc99; 
	color: #FFFFFF;
	height: 200px;
}

.crimson {
		color: #cc0000;
	}

/* --------------------ABOUT ME-----------------------*/

.aboutmelogo {
	font-family: 'Pacifico', cursive;
	color: #000000;
	font-size: 100px;
	text-align: center;
	background-color: #FFFFFF;
	height: 150px; 
}
.aboutme
{
	font-size: 20px;
	font-family: Roboto, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------PORTFOLIO-----------------------*/

.portfoliologo {
	font-family: 'Pacifico', cursive;
	color: #FFFFFF;
	font-size: 100px;
	text-align: center;
	background-color: #cc0000;
	height: 200px; 
}

.portfolio {
	background-color: #cc0000;
	height: 900px;
}
	
table {
	margin-left: auto;
	margin-right: auto;
}

td {
	padding: 20px;
}

tr.captions {
	text-align: center;
	font-family: Roboto, sans-serif;
	color: #FFFFFF;
	font-size: 15px;
}

td.captions {
	width: 300px;
}

	
/* --------------------CONTACT-----------------------*/

div.contactlogo {
	font-family: 'Pacifico', cursive;
	color: #FFFFFF;
	font-size: 100px;
	text-align: center;
	background-color: #00cc99;
	height: 150px;
}

.contact {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	
	
}

table.contact {
	margin-left: auto;
	margin-right: auto;
	background-color: #00cc99;
	height: 300px;
	
}
	
td.expand {
	width: 50%
}
	
input[type=text], select {
    width: 300px;
	height: 25px;
    /*padding: 12px 20px;*/
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=text]:focus {
    border: 3px solid #cc0000;
}

input[type=submit] {
    width: 150px;
	height: 35px;
    background-color: #cc0000;
    font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #990000;

}
