body
{
	height: 100%;
	padding:0px;
	margin: 0px;    
}




.menubar
{
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 18px;
	 
	color: #00cc99;
	padding-top: 25px;
	padding-bottom: 10px;
}

#nav a { 
	color: #a6a6a6;  
	text-decoration: none; 
}


ul
{
	list-style-type: none; /* remove the bullets */
	text-align: center;
  
  
}
li {

	display:inline; /* puts list items on the same line */
	margin: 10px; /* puts space between list items */
}

.logo {
	font-family: 'Pacifico', cursive;
	font-size: 200px;
	text-align: center;
	background-color: #00cc99; 
	color: #FFFFFF;
	min-height: 375px; /*set min height size here*/
}

.characteristics {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	text-align: center;
	background-color: #00cc99; 
	color: #FFFFFF;
	min-height: 200px;
}

h1 { color: #1affff; }

p {
	color: #FF0000;
}

.aboutme
{
	font-size: 40px;
	font-family: Roboto, sans-serif;
}

.contact {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	padding: 50px;
	background-color: #00cc99;
}
